@use '../base/variables' as *;
@use '../base/mixins' as *;

.contact {
  display: inline-flex;
  gap: 10px;
  color: var(--white);
  text-decoration: none;
  transition: color 0.3s;

  &:hover {
    color: var(--primary-color);
  }

  &__icon {
    width: 20px;
    height: 20px;
    color: var(--blue);

    svg {
      width: 100%;
      height: 100%;
      object-fit: contain;
      vertical-align: top;
    }
  }
}
