@use '../base/variables' as *;
@use '../base/mixins' as *;

.contact {
  display: flex;
  gap: 10px;
  color: var(--white);
  text-decoration: none;
  transition: color 0.3s;
  padding: 4px 0px;

  @media (min-width: $breakpoint-lg) {
    padding: 0;
  }

  &:hover {
    color: var(--primary-color);
  }

  &__icon {
    width: 20px;
    height: 20px;
    color: var(--blue);
  }
}
