@use '../base/variables' as *;
@use '../base/mixins' as *;

.custom-select {
  position: relative;
  width: 100%;

  &__trigger {
    font-size: rem(18);
    line-height: rem(24);
    font-weight: 400;
    color: var(--gray-7);
    display: block;
    width: 100%;
    border-radius: 3px;
    padding: 11px 30px 11px 10px;
    background: color-mix(in srgb, var(--white) 85%, transparent);
    border: 1px solid var(--white);
    position: relative;

    -moz-appearance: none;
    appearance: none;
    text-align: left;
    cursor: pointer;

    &:focus,
    &:focus-visible {
      outline: 0;
      border-color: var(--gray-2);
    }
  }

  &__arrow {
    height: 20px;
    width: 20px;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--black);
    transition: transform 0.3s;

    .custom-select__trigger[aria-expanded='true'] & {
      transform: translateY(-50%) rotateX(180deg);
    }
  }

  &__options {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: var(--background-color);
    border: 1px solid var(--gray-1);
    border-radius: 0px 0px 3px 3px;
    padding: 4px 0;
    max-height: 200px;
    overflow: auto;
    list-style: none;
    z-index: 100;

    @include custom-scroll;

    li {
      padding: 8px 12px;
      color: #fff;
      cursor: pointer;

      &:hover {
        color: var(--blue-2);
      }

      &[aria-selected='true'] {
        color: var(--blue-2);
      }
    }
  }

  &__native {
    position: absolute;
    opacity: 0;
    pointer-events: none;
    height: 1px;
    width: 1px;
  }
}
