@use '../base/variables' as *;
@use '../base/mixins' as *;

.footer {
  margin-top: auto;
  background: var(--gray-1);
  font-size: rem(13);
  line-height: rem(20);
  padding: 20px 0px;

  @media (min-width: $breakpoint-lg) {
    padding: 30px 0px;
  }

  &__container {
    max-width: var(--max-container);
    margin: 0 auto;
    display: flex;
    padding: 0px 16px;
    flex-direction: column;
    gap: 16px;

    @media (min-width: $breakpoint-lg) {
      gap: 0;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__block {
    @media (min-width: $breakpoint-lg) {
      display: flex;
      align-items: center;
      gap: 40px;
      position: relative;
    }

    li {
      display: block;
    }

    &--copyright {
      order: 1;

      @media (min-width: $breakpoint-lg) {
        order: 0;
      }
    }

    &--payments {
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: 6px;

      @media (min-width: $breakpoint-lg) {
        flex-direction: row;
        gap: 38px;
      }
    }

    &--contacts {
      list-style: none;
    }
  }

  &__divider {
    display: none;

    @media (min-width: $breakpoint-xl) {
      display: block;
      width: 1px;
      background-color: var(--gray-2);
      height: 18px;
    }
  }
}
