@use '../base/variables' as *;
@use '../base/mixins' as *;

.form-control {
  font-size: rem(18);
  line-height: rem(24);
  font-weight: 400;
  color: var(--gray-7);
  display: block;
  width: 100%;
  border-radius: 3px;
  padding: 11px 10px;
  background: color-mix(in srgb, var(--white) 85%, transparent);
  border: 1px solid var(--white);

  -moz-appearance: none;
  appearance: none;

  &:focus,
  &:focus-visible {
    outline: 0;
    border-color: var(--gray-2);
  }
}
