@use '../base/variables' as *;
@use '../base/mixins' as *;

.payment-view {
  display: inline-flex;
  gap: 10px;
  color: var(--gray-2);

  &__icon {
    width: 20px;
    height: 20px;
    color: var(--blue);

    svg {
      width: 100%;
      height: 100%;
      object-fit: contain;
      vertical-align: top;
    }
  }
}
