@use '../base/variables' as *;
@use '../base/mixins' as *;

.payment-view {
  display: flex;
  gap: 10px;
  color: var(--gray-2);

  &__icon {
    width: 20px;
    height: 20px;
    color: var(--blue);
  }
}
