@use './blocks/order';
@use './blocks/step';
@use './blocks/form';
@use './blocks/form-control';
@use './blocks/custom-select';
@use './blocks/progress-control';
@use './blocks/payment-view';
@use './blocks/contact';
@use './blocks/footer';
