@use 'sass:math';

@function rem($px) {
  @return math.div($px, 16) * 1rem;
}

@mixin line-clamp($max-lines-count) {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $max-lines-count;
  overflow: hidden;
  word-break: break-word;
}

@mixin noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@mixin custom-scroll {
  &::-webkit-scrollbar {
    display: block;
    width: 7px;
    height: 7px;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-right: 4px;
    right: 4px;
  }

  &::-webkit-scrollbar-track {
    padding: 0;
    background: var(--gray-1);
    border-radius: 4px;

    &-piece:start {
      margin-top: 0px;
      background: transparent;
    }

    &-piece:end {
      margin-bottom: 0px;
      background: transparent;
    }
  }

  &::-webkit-scrollbar-thumb {
    background: var(--blue);
    padding: 0;
    border-radius: 20px;
    background-clip: padding-box;

    &:hover {
      background-color: var(--blue);
    }
  }
}
