// Light theme variables
:root {
  --default-font-size: 16px;
  --default-font-family: 'Lato', sans-serif;

  --background-color: #272733;
  --text-color: #FFFFFF;
  --primary-color: #43ABF0;

  // --max-container: 1362px;
  --max-container: 1386px;

  // Pallete
  // Common
  --white: #ffffff;
  --black: #000000;
}

$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1400px;
