// Light theme variables
:root {
  --default-font-size: 16px;
  --default-font-family: 'Lato', sans-serif;

  --background-color: #272733;
  --text-color: #ffffff;
  --primary-color: #43abf0;

  // --max-container: 1172px;
  --max-container: 1204px;

  // Pallete
  // Common
  --white: #ffffff;
  --black: #000000;

  // Blue
  --blue: #3e9cdc;
  --blue-1: #286690;
  --blue-2: #42a9ed;

  // Gray
  --gray: #10101d;
  --gray-1: #3d4050;
  --gray-2: #c3c3c3;
  --gray-3: #2a2b30;
  --gray-4: #6f6d7b;
  --gray-5: #bbbbbb;
  --gray-6: #c4c4c4;
  --gray-7: #272733;
}

$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1400px;
